body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #222;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#hero {
    background-color: #0077ff;
    color: white;
}

.project-card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
}

.body{
    max-width: 700px;
    margin: 40px auto;
    padding: 30px 60px;

}

#about {
    text-align: left;
}